<% include ../partials/header %>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <p class="lead">Dungeon Finder</p>
      <div class="list-group">
        <li class="list-group-item active">Info</li>
        <li class="list-group-item">Location</li>
        <li class="list-group-item">Prices</li>
      </div>
    </div>
    <div class="col-md-9">
      <div class="thumbnail">
        <img class="img-responsive img-thumbnail" src="<%= dungeon.image %>">
        <div class="caption">
          <h4 class="float-right">Lvl <%= dungeon.minLevel %>-<%= dungeon.maxLevel %></h4>
          <h4><a href="#"><%=dungeon.name%></a></h4>
          <p> <%=dungeon.description%> </p>
          <p><em>added by <%= dungeon.author.username %></em></p>
          <% if(currentUser && dungeon.author.id.equals(currentUser._id)){ %>
            <a class="btn btn-xs btn-warning" href="/dungeons/<%= dungeon._id %>/edit">Edit</a>
            <form class="delete-form" action="/dungeons/<%=dungeon._id%>?_method=DELETE" method="post">
              <button class="btn btn-xs btn-danger">Delete</button>
            </form>
          <% } %>
        </div>
      </div>
      <div class="well">
        <hr>
        <div class="text-right">
          <p><a class="btn btn btn-success" href="/dungeons/<%=dungeon._id%>/comments/new">Add a new comment</a></p>
        </div>
        <% dungeon.comments.forEach(function(comment){ %>
          <div class="row">
            <div class="col-md-12">
                <strong><%= comment.author.username %></strong>
                <span class="float-right">10 days ago</span>
                <p><%= comment.text %></p>
                <% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
                <a class="btn btn-xs btn-warning"
                  href="/dungeons/<%= dungeon._id %>/comments/<%= comment._id %>/edit">
                Edit</a>
                <form class="delete-form" action="/dungeons/<%= dungeon._id %>/comments/<%= comment._id %>?_method=DELETE"
                      method="post">
                      <input type="submit" class="btn btn-xs btn-danger" value="Delete">
                </form>
                <% } %>
              <% }) %>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
</div>

<% include ../partials/footer %>
